<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Signin</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	crossorigin="anonymous">


<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>

	<!-- Custom styles for this template -->
	<link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
	<form class="form-signin" th:action="@{/sign-in}" method="post">
		<img class="mb-4"
			th:src="@{/assets/brand/logo.svg}"
			alt="" width="" height="">
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="userName" class="sr-only">User Name</label> 
		<input
			type="text" name="username" id="userName" class="form-control"
			placeholder="User name" required autofocus> 
		<label
			for="inputPassword" class="sr-only">Password</label> 
		<input
			type="password" name="password" id="inputPassword" class="form-control"
			placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
			in</button>
		<h3 class="h3 mb-3 font-weight-normal" style="color:red" th:if="${param.error}">Invalid username and password.</h3>
		<h3 class="h3 mb-3 font-weight-normal" style="color:green" th:if="${param.logout}">You have been logged out.</h3>
		<p class="mt-5 mb-3 text-muted">&copy; 2019</p>
	</form>
</body>
</html>